@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('@fontsource-variable/onest');

:root {  
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  color-scheme: dark;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 11, 14, 36;
    --background-end-rgb: 19, 25, 59;
  }
}

html {
  font-family: 'Onest Variable', sans-serif;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  .bg-blue-strong {
    background: #081f37;
  }
  .bg-blue-light {
    background: #233142;
  }
  .bg-green-light {
    background: #9fd3c7;
  }
  .bg-gray-light {
    background: #ececec;
  }
  .bg-gradient-light{
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 240, 207, 245;
    --background-end-rgb: 110, 125, 208;
  }
}
